@font-face {
  font-family: 'Mona Sans';
  src: url('/assets/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/assets/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

body {
  margin: 0;
  background-color: rgb(13, 17, 23);
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
